html, body {
  height: 100%;
  width: 100%;
}
.halloween{
  font-size: 120%;
  color:orange;
  background-color:purple ;
  text-align:center;
  font-family:bungee spice;
}
.haunted{
 color:orange;
  background-color:purple ;
}
.spooky{
  height: 450px;
  width: 500px;
filter: grayscale(100%);filter: saturate(7)">
}
.phantom{
  font-size: 120%;
  color:#0062ff;
  background-color:black ;
  text-align:center;
}
.pumpkin{
  font-size: 120%;
  color:#30b300;
  background-color:#ff7300 ;
  text-align:center;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
.video{
text-align:center;

}
.candy{
  font-size: 120%;
  color:#14ff30;
  background-color:#ff00c8 ;
}
table, th, td {
  border:1px solid black;
  box-align:center;

}
.tableinfo{
margin-left: auto;
margin-right: auto;
}